@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
  --default-font: 'Poppins', sans-serif;
}

:root {
  --primary-color: #2194F3;
}

.dark-theme {
  --primary-color: #0d6efd
}

body {
  margin: 0;
  font-family: var(--default-font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.pulsered {
  box-shadow: 0 0 0 0 rgba(120, 122, 186, 0.7);
  animation: pulsered 2s infinite;
}

@keyframes pulsered {
    0% {
        box-shadow: 0 0 0 0 rgba(120, 122, 186, 0.7);
    }
    70% {
        box-shadow: 0 0 0 10px rgba(120, 122, 186, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(120, 122, 186, 0);
    }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spin {
  display: inline-block;
  animation: spin 2s linear infinite;
}